/* ==========================================================================
   Libraly - 外部からインストールしたライブラリ
   ========================================================================== */

  @import "lib/mixin.styl"

/* ==========================================================================
   Foundation - プロジェクトにおける基本スタイル
   ========================================================================== */

   @import "foundation/sanitize.styl"

/* ==========================================================================
   Layout - プロジェクト共通のコンテナブロック
   ========================================================================== */

  @import "layout/header.styl"
  @import "layout/footer.styl"

  /* ==========================================================================
     Object - プロジェクト内で繰り返されるビジュアルパターン
    ========================================================================== */

// -----------------------------------------------------------------
// Component - 再利用できる小さい単位のモジュール
// -----------------------------------------------------------------

  @import "object/component/button.styl"

// -----------------------------------------------------------------
// Project - プロジェクト固有のパターン
// -----------------------------------------------------------------

  @import "object/project/gallery.styl"

// -----------------------------------------------------------------
// Utility - 上記で解決できないスタイル調整用のパターン
// -----------------------------------------------------------------

  @import "object/utility/shame.styl"
